<h3>Hi, <%= name %>!</h3>
<p>Are you ready for a dose of laughter? We've got a Chuck Norris joke just for you:</p>
<h3>
    <%= joke %>
</h3>
<p>Hope that brought a smile to your face! Have a fantastic day!</p>